.filmsPage {
  padding-top: 32px;
}

.filmsList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 80px;
}

.titlePage {
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;

  color: #fff;
}

.seoBlock {
  width: 1216px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 24px;
  position: relative;
}

.containerInner {
  margin-left: -12px;
  margin-right: -12px;
}

.clause {
  padding-left: 12px;
  padding-right: 12px;
  width: 75%;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #a5a1b2;
}

.textInnerit {
  display: block;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
}

.close {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.close p:nth-child(1) {
  margin-top: 0px;
}

.textInnerit p {
  margin-top: 8px;
}

.textInnerit p:nth-child(1) {
  margin-top: 0px;
}

.toggle {
  display: inline-block;
  margin-top: 8px;
  cursor: pointer;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.88);
}

.filterBar {
  margin-top: 15px;
}

.noFound{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  height: 200px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  background-image: url('../../image/filmIcon/no-film.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 13%;
}

@media (max-width: 1160px) {
  .filmsList {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 80px;
    justify-content: center;
  }
}