.selectBox {
  position: relative;
  display: block;
  width: 20%;
  padding: 0 6px;
  min-width: 150px;
  font-size: 18px;
  color: #60666d;
}

.selectBoxCurrent {
  position: relative;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}

.selectBoxIcon {
  position: absolute;
  top: 47%;
  right: 15px;
  width: 20px;
}

.selectBoxIcon.active {
  transform: rotate(180deg) translateX(4px);
}

.selectBoxValue {
  display: flex;
}
.selectBoxInput {
  display: none;
}

.selectBoxTitle {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.selectBoxExtra{
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: rgba(217,215,224,.8);
  transition: all 0.2s linear;
  position: relative;
}

.selectBoxExtra:not(:not(:first-child)):hover {
  color: #fff;
}

.selectBoxExtra:not(:not(:first-child)):hover::before {
  content: '';
  position: absolute;
  right: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(217,215,224,.72);;
  border-radius: 100%;
}

.selectBoxInput:checked + .selectBoxInputText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #312b45;
  border-radius: 4px;
}

.selectBoxInputText {
  display: none;
  width: 100%;
  height: 56px;
  margin: 0;
  padding: 0 15px;
  transition: all 0.2s linear;
}

.dropListWrapper {
  position: absolute;
  width: 100%;
  list-style: none;
  display: none;
  opacity: 1;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  padding: 12px 15px;
  flex-direction: column;
  gap: 12px;
  background-color: #312b45;
  margin-top: 6px;
  z-index: 5;
}

.selectBoxOption {
  display: block;
  padding: 0px;
  cursor: pointer;
}

.checked::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 6.5px;
  width: 2px;
  height: 2px;
  border: 2px solid #fff;
  border-radius: 100%;
}

.checked::before {
  content: '';
  position: absolute;
  right: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 100%;
}


.nonActiveColor {
  background-color: #312b45 !important;
}

.nonActiveRotate {
  transform: rotate(0deg) !important;
}