.dropListWrapper {
  background-color: rgb(49, 43, 69);
  padding: 16px;
  border-radius: 8px;
  margin-top: 6px;
  position: absolute;
  z-index: 6;
}

.genreWrapper {
  position: relative;
  width: 14%;
  padding: 0 6px;
}

.nonActiveColor {
  background-color: #312b45 !important;
}

.nonActiveRotate {
  transform: rotate(0deg) !important;
}


@media (min-width: 768px) and (max-width: 1439px) {
  .genreWrapper {
    width: 25%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .genreWrapper {
    width: 50%;
  }

  .dropListWrapper {
    width: 93%;
  }
}

@media (max-width: 320px) {
  .genreWrapper {
    width: 100%;
  }
  .dropListWrapper {
    width: 96%;
  }
}