.icon {
  width: 16px;
  height: 16px;
  align-self: center;
  background-size: 16px;
}

.button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
