.filmsSlider {
  padding: 24px 0 24px 0;
}
.filmsSlider .slick-list {
  margin: 0;
  overflow: hidden !important;
  padding: 12px 12px 0 12px;
  box-sizing: content-box;
}

.filmsSlider .slick-track .slick-slide {
  max-width: 178px;
  padding-right: 24px;
}

.filmsSlider .slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0;
}
.filmsSlider .slick-next:before {
  content: "\E00B";
  font-family: ivi-icons;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  font-size: 32px;
}

.filmsSlider .slick-prev:before {
  content: "\E009";
  font-family: ivi-icons;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  font-size: 32px;
}

.filmsSlider .slick-next {
  right: -12px;
}

.filmsSlider .slick-prev {
  left: -12px;
}

.title {
  display: flex;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}
