.card img {
  width: 80px;
  border-radius: 8px;
}

.card {
  display: flex;
  width: 596px;
}

.main {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 16px;
}

.noFilmImg {
  width: 80px;
  height: 120px;
  border-radius: 8px;
  background-color: grey;
}
