.info {
  display: flex;
  flex-direction: column;
}

.year {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}

.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  margin-top: 4px;
}

.rating {
  color: #a5a1b2;
  font-size: 13px;
  margin-top: 4px;
  display: flex;
}

.rating div {
  margin-left: 4px;
  font-weight: 700;
  font-size: 13px;
}
