.commentContainer {
  padding: 20px;
  background-color: #1f1b2e;
  width: 310px;
  height: 162px;
  border-radius: 8px;
  transition: all .2s linear;
  overflow: hidden;
}

.commentContainer:hover {
  cursor: pointer;
  background-color: #231f34;
}

.commentName{
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  color: #a5a1b2;
  margin-bottom: 8px;
}

.commentText {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
}

.commentBottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentDate {
  color: #a5a1b2;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.commentLikesContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.totalLikes {
  color: #73a32f;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}

.like{
  background: url('../../image/likesIcons/like.svg') no-repeat;
}

.dislike{
  background: url('../../image/likesIcons/dislike.svg') no-repeat;
}

.like, .dislike{
  filter: invert(49%) sepia(7%) saturate(793%) hue-rotate(213deg) brightness(96%) contrast(88%);
  width: 28px;
  height: 28px;
  transition: all 0.2s linear;
}

.like:hover, .dislike:hover {
  filter: invert(77%) sepia(3%) saturate(972%) hue-rotate(211deg) brightness(85%) contrast(82%);
}