@font-face {
  font-family: "iconfont";
  src: url("../../fonts/iconfont.woff2") format("woff2"),
    url("../../fonts/iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ivi-icons";
  src: url("../../fonts/ivi-icons.woff2") format("woff2"),
    url("../../fonts/ivi-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.icon {
  padding-top: 1px;

  display: inline-block;
  font-family: iconfont !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: #ffffffe8;
}

.play::before {
  content: "\E28D";
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.favorite::before {
  content: "\E12F";
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.notification::before {
  content: "\E2FA";
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.audio::before {
  content: "\E2E6";
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  margin-right: 4px;
}

.text::before {
  content: "\E2DF";
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  margin-right: 4px;
}

.download::before {
  content: "\E356";
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.smartTV::before {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  content: "\E35C";
}

.allDevices::before {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  content: "\E02B";
}

.mail::before {
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  content: "\E0D8";
}

.tel::before {
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  content: "\E06A";
}

.posterFavorite::before {
  font-family: ivi-icons;
  content: "\E02D";
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.posterSimilar::before {
  font-family: ivi-icons;
  content: "\E05B";
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.posterEstimate::before {
  content: "\E311";
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.posterDontLike::before {
  font-family: ivi-icons;
  content: "\E023";
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.leftArrow::before {
  content: "\E009";
  font-family: ivi-icons;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 32px;
}

.rightArrow::before {
  content: "\E00B";
  font-family: ivi-icons;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 32px;
}

[data-tooltip]::after {
  position: absolute;
  content: attr(data-tooltip);
  background-color: #1f1b2e;
  box-shadow: 0 20px 40px rgba(7, 5, 14, 0.4);
  padding: 6px 8px;
  border-radius: 6px;
  opacity: 0;
  transition: 1s;
  pointer-events: none;

  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  text-decoration: none;
  font-family: iviSans, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
}

[data-tooltip]:hover::after {
  opacity: 1;
}
