@font-face {
  font-family: "iconfont";
  src: url("../../fonts/iconfont.woff2") format("woff2"),
    url("../../fonts/iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ivi-icons";
  src: url("../../fonts/ivi-icons.woff2") format("woff2"),
    url("../../fonts/ivi-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.icon {
  padding-top: 1px;
  position: relative;
  display: inline-block;
  font-family: iconfont !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: #ffffffe8;
}

.play::before {
  content: "\E28D";
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.favorite::before {
  content: "\E12F";
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.notification::before {
  content: "\E2FA";
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.audio::before {
  content: "\E2E6";
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  margin-right: 4px;
}

.text::before {
  content: "\E2DF";
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  margin-right: 4px;
}

.download::before {
  content: "\E356";
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.smartTV::before {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  content: "\E35C";
}

.allDevices::before {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  content: "\E02B";
}

.mail::before {
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  content: "\E0D8";
}

.tel::before {
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  content: "\E06A";
}

.posterFavorite::before {
  font-family: ivi-icons;
  content: "\E02D";
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.posterSimilar::before {
  font-family: ivi-icons;
  content: "\E05B";
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.posterEstimate::before {
  content: "\E311";
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.posterDontLike::before {
  font-family: ivi-icons;
  content: "\E023";
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.leftArrow::before {
  content: "\E009";
  font-family: ivi-icons;
  font-weight: 400;
  font-style: normal;

  line-height: 32px;
}

.leftArrow:hover {
  color: white;
}

.rightArrow:hover {
  color: white;
}

.rightArrow::before {
  content: "\E00B";
  font-family: ivi-icons;
  font-weight: 400;
  font-style: normal;

  line-height: 32px;
}

.genre_drama {
  font-family: iconfont !important;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.genre_drama::before {
  content: "\E181";
  position: absolute;
}
.genre_drama::after {
  content: "\E182";
}

.genre_comedy {
  font-family: iconfont !important;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.genre_comedy::after {
  content: "\E165";
}

.genre_comedy::before {
  content: "\E164";
  position: absolute;
}

.genre_action {
  font-family: iconfont !important;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.genre_action::after {
  content: "\E142";
}

.genre_action::before {
  content: "\E143";
  position: absolute;
}

.genre_triller {
  font-family: iconfont !important;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.genre_triller::before {
  content: "\E1F4";
  position: absolute;
}

.genre_triller::after {
  content: "\E1F3";
}

.genre_adventure {
  font-family: iconfont !important;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.genre_adventure::before {
  position: absolute;
  content: "\E14B";
}

.genre_adventure::after {
  content: "\E14C";
}

.genre_foreign {
  content: "\E19E";
  font-family: iconfont !important;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.genre_foreign::after {
  content: "\E19E";
}
.genre_foreign::before {
  position: absolute;
  content: "\E19D";
}

.genre_melodrama {
  font-family: iconfont !important;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.genre_melodrama::before {
  content: "\E1BA";
  position: absolute;
}

.genre_melodrama::after {
  content: "\E1BB";
}

.genre_fantastic {
  font-family: iconfont !important;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.genre_fantastic::before {
  content: "\E18F";
  position: absolute;
}

.genre_fantastic::after {
  content: "\E190";
}

.genre_fantasy {
  font-family: iconfont !important;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.genre_fantasy::before {
  content: "\E195";
  position: absolute;
}

.genre_fantasy::after {
  content: "\E194";
}

.genre_family {
  font-family: iconfont !important;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

.genre_family::before {
  content: "\E18A";
  position: absolute;
}

.genre_family::after {
  content: "\E18B";
}

.dropDownArrow {
  font-family: iconfont !important;
  font-weight: 400 !important;
  font-style: normal !important;
  width: 16px;
  height: 6px;
  font-size: 6px;
  line-height: 6px;
}

.dropDownArrow::before {
  content: "\E033";
  color: #fff;
}

[data-tooltip]::after {
  position: absolute;
  content: attr(data-tooltip);
  background-color: #1f1b2e;
  box-shadow: 0 20px 40px rgba(7, 5, 14, 0.4);
  padding: 6px 8px;
  border-radius: 6px;
  opacity: 0;
  transition: 1s;
  pointer-events: none;

  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  text-decoration: none;
  font-family: iviSans, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
}

[data-tooltip]:hover::after {
  opacity: 1;
}
