.icon {
  width: 20px;
  height: 20px;
  align-self: center;
}

.apple {
  background-image: url("../../image/buttonIcon/appleLogo.svg");
}

.google {
  background-image: url("../../image/buttonIcon/googlePlayLogo.svg");
}

.vk {
  background-image: url("../../image/buttonIcon/social_vkontakte.svg");
}

.ok {
  background-image: url("../../image/buttonIcon/social_odnoklassniki.svg");
}

.tw {
  background-image: url("../../image/buttonIcon/social_twitter.svg");
}

.vb {
  background-image: url("../../image/buttonIcon/social_viber.svg");
}

.in {
  background-image: url("../../image/buttonIcon/social_linkedin.svg");
}

.tl {
  background-image: url("../../image/buttonIcon/social_telegram.svg");
}

.user {
  background-image: url("../../image/userIcon/user.svg");
}
