@font-face {
  font-family: "iviSans";
  src: url("./fonts/iviSans-Bold.woff2") format("woff2"),
    url("./fonts/iviSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iviSans";
  src: url("./fonts/iviSansMedium.woff2") format("woff2"),
    url("./fonts/iviSansMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iviSans";
  src: url("./fonts/iviSans-Regular.woff2") format("woff2"),
    url("./fonts/iviSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: iviSans, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-font: Arial,sans-serif;
  background-color: #100e19;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input {
  outline: none;
}
