.placeholder::placeholder {
  font-weight: 500;
  font-style: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: iviSans, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}