.placeholder::placeholder {
  font-weight: 500;
  font-style: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: iviSans, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.container {
  width: 14%;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    width: 25%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
  }
}