.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 20;
}

.commentsPageContainer {
  height: 100vh;
  background-color: rgba(7,5,14,.96);
  overflow-y: auto;
  color: #fff;
  padding: 50px 20px;
  display: flex;
  gap: 100px;
}

.back {
  display: flex;
  align-items: flex-start;
}

.backCenter {
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
  opacity: .72;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  transition: all 0.2s linear;
}

.arrowBack {
  transform: scale(1.5);
  transition: all 0.2s linear;
}

.backCenter:hover {
  opacity: 1;
}

.backCenter:hover .arrowBack {
  transform: scale(1.6) translateX(-0.5px);
}

.main {
  width: 45%;
  margin-top: 70px;
}

.filmName {
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 30px;
}

.line {
  border-bottom: 2px solid rgba(255,255,255,.2);
}